#nav_menu ul {list-style-type: none; position:relative;}
#nav_menu ul li { float: left; text-decoration: none;}
#nav_menu ul li a {
  text-align: center;
  display: block;
  width: 125px;
  padding: 5px;
  font-size: 100%;
  background-color: #e1a730;
  color: #f7f7f7;
  font-weight: bold;
  position: relative;
  margin: 5px;
  text-decoration: none;
}
ul {
  overflow: hidden;
  padding: 5px;
  width: 500px;
  background-color: #e1a730;
}
li {
  float: left;
  border-bottom: solid;
  border-top: solid;
  border-width: medium;
  border-color: #150F61;
  position: relative;
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
#nav_menu a:hover {
  padding: 7px;
  margin: .5px;
  text-align: center;
  font-size: 125%;
  width: 130px;
  vertical-align: middle;
}
#nav_menu ul ul { float: none;
  display:none;
  position: absolute;
  top: 100%;
}
#nav_menu ul li {list-style-type: none; position:relative;}
#nav_menu ul li { float: left; text-decoration: none;}
#nav_menu ul li {
  text-align: center;
  display: block;
  width: 125px;
  padding: 5px;
  font-size: 100%;
  background-color: #e1a730;
  color: #f7f7f7;
  font-weight: bold;
  position: relative;
  margin: 5px;
  text-decoration: none;
}
#nav_menu ul li {
  overflow: hidden;
  padding: 5px;
  width: 500px;
  background-color: #e1a730;
}
#nav_menu a:hover ul li {
  padding: 7px;
  margin: .5px;
  text-align: center;
  font-size: 125%;
  width: 130px;
  vertical-align: middle;
}