.topnav {
  background-color: #f8f8f8;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #f8f8f8;
  color: #e1a730;
}
.topnav a.active {
  background-color: #f8f8f8;
  color: #e1a730;
}