#nav_menu ul {
    list-style-type: none;
    position:relative; }
#nav_menu ul li {float:left;}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;}
#nav_menu ul ul li {
    float: none;
    position: relative;}
#nav_menu ul ul li ul {
    position: absolute;
    left: 100%;
    top: 0;}
#nav_menu ul li.lastitem ul li ul {
    left:-100%}
#nav_menu ul li:hover > ul {
    display:block;}
#nav_menu > ul::after {
    content:"";
    clear:both;
    display:block;}
#nav_menu a:hover {
    padding: 10px;
    margin: .5px;
    text-align: center;
    font-size: 125%;
    width: 130px;}
#nav_menu ul li a {
    float:left;
    text-align: center;
    display:block;
    padding-top: 14px;
    padding: 14px;
    font-size: 100%;
    width: 130px;
    margin: 2px;
    text-decoration:none;
    background-color: #e1a730;
    color: #f7f7f7;}
#nav_menu li {
    border: solid;
    border-width: medium;
    position: relative;
    display: block;
    color: #150f61;
}
#nav_menu ul li.lastitem a {
    width:130px; }
#nav_menu ul li a.current {
    color: #f7f7f7; }
#nav_menu ul li a:hover, #hav_menu ul li a:focus {
background-color: #39793d;}
#nav_menu > ul::after {
    content:"";
    clear:both;
    display:block;}