#nav_menu ul { /*basic context within html 'barebones' */
    list-style-type: none;
    position:relative;
    display: block;
    margin-left: -40px;}
#nav_menu ul li {float:left;}/*makes list hortizontal*/
#nav_menu ul ul { /*makes the second tier list disappear*/
    list-style-type: none;
    display: none;
    position: absolute;
    top: 100%;}
#nav_menu ul ul li { /*list text syntax*/
    list-style-type: none;
    display:block;
    float: none;
    position: relative;} 
#nav_menu ul li:hover > ul { /*enables hover over text of list items*/
    list-style-type: none;
    display:block;}
#nav_menu a:hover { /*adjust the features of the menu text*/
    font-family: garamond, serif;
    font-weight: bold;
    list-style-type: none;
    position:relative;
    padding: 14px;
    margin: 2px;
    text-align: center;
    width: 176px;}
#nav_menu ul li a { /*adjusts characteristics of the menu list options*/
    list-style-type: none;
    position: relative;
    float:left;
    text-align: center;
    display:block;
    padding: 14px;
    font-size: 125%;
    width: 176px;
    margin: 2px;
    text-decoration:none;
    background-color: #e1a730;
    border-style: solid; color:#150f61;
    border-width: thick;
    font-family: garamond, serif;
    font-weight: bold;
}
#nav_menu ul li.lastitem a { /*unsure*/
    width:176px; }
#nav_menu ul li a.current { /*unsure*/
    color: #f7f7f7; }
#nav_menu ul li a:hover, #hav_menu ul li a:focus { /*adjust the background color when hovering*/
    background-color: #39793d;}
#nav_menu > ul::after {
    content:"";
    clear:both;
    display:block;}