body {
    background-color:#f7f7f7;
    justify-content: center;}

@font-face { 

font-family: "Yusei Magic";
src: url(YuseiMagic-Regular.ttf)}

@font-face { 
font-family: "Covered By Your Grace"; 
src: url(CoveredByYourGrace-Regular.ttf)}

@font-face { 
font-family: "Rubik Dirt";
src: url(RubikDirt-Regular.ttf)}

@font-face { 
font-family: "Chunk Five";
src: url(Chunk\ Five\ Print.ttf)}

@font-face {
font-family: "Roboto", sans-serif;
src: url(Roboto-VariableFont_wdth\,wght.ttf)}


p {
    font-size: 140%;
    color:#150f61;
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    margin-right:5%;
    margin-left: 5%;
    border-style:none;
    text-decoration: none;
    padding: 0%;
    text-align: justify;
    hyphens:none;
    word-spacing: normal;
    letter-spacing: normal;}


h1 {
    font-size: 325%;
    color: #150f61;
    margin: 0px;
    text-align: center;
    font-family: "Chunk Five";
    width:100%;
    margin-top: 20px;
    padding-top: 25px;}

h2 {color: #397f39;
    text-align: center;
    font-size: 290%;
    font-family: "Covered By Your Grace";
    margin:auto;
    width: 100%;
    padding-bottom: 30px;}

h3 {color: #e1a730;
    font-size: 250%;
    font-family: "Covered By Your Grace";
    text-align: center;
    margin: 0 auto;
    margin-right: 5%;}

.footerbox {color: #150f61;
    background-image: url(straw.png); 
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0%;
    height: 50px;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    text-align: left!important;
    font-size: 80%;}


    

.mail {
    width: 20px;
    height:18px;
    border-style: none;
    margin:0;
    padding:0;
    display: inline;
}

.mail:hover {
    transform: scale(1.8)
}

.phone {
    width:20px;
    height:18px;
    border-style: none;
    margin:0;
    padding:0;
    display: inline;
}

.phone:hover {
    transform: scale(1.8)
}



/*smaller screen sizes*/
@media screen and (max-width: 900px) {
   
p {
    font-size: 145%;
    color:#150f61;
    font-family: "Roboto", sans-serif;
    margin-right:5%;
    margin-left: 5%;
    border-style:none;
    line-height: 1.5;
    text-decoration: none;
    padding: 0%;
    word-spacing: normal;
    letter-spacing: normal;}


h1 {
    font-size: 200%;
    color: #150f61;
    margin: 0px;
    text-align: center;
    font-family: "Chunk Five";
    width:100%;
    margin-top: 15px;
    padding-top: 20px;}

h2 {color: #397f39;
    text-align: center;
    font-size: 205%;
    font-family: "Covered By Your Grace";
    margin:auto;
    width: 100%;
    padding-bottom: 30px;}

h3 {color: #e1a730;
    text-align: center;
    font-size: 205%;
    font-family: "Covered By Your Grace";
    margin: auto;}


.footerbox {
    font-size: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0%;
    height: 75px;}
}
