h1 {color: #39793d;
    text-align: left;
    font-family:Garamond, serif;
    font-weight:bolder;
    padding-top: 2%;}

h2 {color: #39793d;
    text-align: left;
    font-family:Garamond, serif;
    font-weight:bold;}

#intro {
  text-align: center;   
  margin: 0 auto;           
  max-width: 600px; 
  margin-left: auto;    
  margin-right: auto;
  font-style: normal;
  font-size: 18px;
  color: #39793d;}

p {font-size: 125%;
column-count: 2;
width: 70%;}

body {    
    color:#150f61;
    font-family:Garamond, serif;
    margin: 40px;
    padding: 2px;
    border-style:none;}
  
a:link {
        text-decoration: none;
        color:#150f61;
        align-items: center;
        background-color:#39793d;
        padding: 20px;
        border-style: solid; border-color:#150f61; border-width: 6px;}
a:visited {
        color:#150f61;
        font-family:Garamond, serif; 
        border-style: solid; border-color:#150f61; border-width: 6px;
        }
a:hover {
        background-color: #e1a730;
        }
a:active {
        color: #150f61;
        font-family:Garamond, serif;
        border-style: solid; border-color:#150f61; border-width: 6px;
        }
#form {
   float:right;
    margin: 0;}
img {
        border: 6px solid #150f61;
        border-style: solid;
        padding: 5px;
        justify-content: center;}
.flex-container {
    display: flex;
    flex-direction:row;
    width: 90%;
    height:90%;
    justify-content:left;
}

.flex-container > div {
    background-color: #39793d;
    width: auto;
    margin: 4px;
    text-align:center;
    line-height: 75px;
    font-size: 30px;
}
video {
    align-items: center;
    position:relative;
    width: 55%;
}
footer {color: #e1a730;
    background-color: #150f61;
    position:relative;
    font-size: x-small;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;}


    