body {
    background-color:#f7f7f7;
    justify-content: center;}

h1 {color: #150f61;
    margin: 0px;
    text-align: center;
    font-family:Garamond, serif;
    font-weight:bolder;
    width:100%;
    padding: 14px;}

h2 {color: #150f61;
    text-align: center;
    font-family:Garamond, serif;
    margin:auto;
    font-weight:bold;
    width: 100%;
    padding-bottom: 8px;}

h3 {color: #150f61;
    text-align: center;
    font-family:Garamond, serif;
    margin:auto;
    font-weight:bold;
    width: auto;
    padding-bottom: 8px;}

p { font-size: 120%;
    column-count: 1;
    color:#150f61;
    text-align: justify;
    font-family:Garamond, serif;
    padding-bottom: 12px;
    margin-left:5%;
    margin-right:5%;
    border-style:none;
    text-decoration: none;
}


a:link, a:visited, a:active {
    text-decoration: none;
    color:#150f61; padding:8px 12px;
    font-family: Garamond, serif; text-align: center; font-size: 100%;
}
a:hover {text-decoration: none; text-align: center;
    color:#150f61; font-weight: bolder;
    align-items: center; padding: 1px;
    font-family: Garamond, serif;font-size: 120%;}

img {
    display: flex;
    width: 80%;
    height: auto;
    padding: 10px;
    justify-content: center;
    margin: auto;
    border: solid #39793d;
    border-style:double;
    border-width: 12px;}

footer {color: #150f61;
    background-color: #e1a730;
    position:relative;
    align-content: center;
    font-size: x-small;
    font-family:Garamond, serif;
    bottom: 0;
    left: 0;
    width: 100%;}

@media screen and (max-width: 959px) {
    #container {
            width: 100%;}
    #p {
            width:90%;}
    #image {
        width: 90%;
    }}

@media screen and (max-width: 640px) {
    #p {width: 90%;
        justify-content: center;
        height: auto;}

    }

@media screen and (max-width: 640px) {
   .square {width: 30%;
        align-content: center;
        margin: auto;
   }}


@media screen and (max-width: 320px) {
    #container {width: 100%;}}